<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--  读取文件权限  -->
<!--    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>-->

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrivacyBrowser"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity android:name=".ui.WebActivity"
            android:theme="@style/TransparentTheme"
            android:exported="false"/>
        <activity android:name=".ui.BrowserRouterActivity"
            android:exported="false"/>
        <activity android:name=".ui.BrowserActivity"
            android:exported="false" />
        <activity android:name=".ui.WebSearchActivity"
            android:exported="false"/>
        <activity android:name=".ui.BrowserHistoryActivity"
            android:exported="false"/>
        <activity android:name=".ui.FavoritesActivity"
            android:exported="false"/>
        <activity android:name=".ui.MainActivity"
            android:exported="false"/>
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.PrivacyBrowser">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--        <activity-alias-->
<!--            android:name=".Weather"-->
<!--            android:enabled="false"-->
<!--            android:exported="true"-->
<!--            android:icon="@mipmap/logo_weather"-->
<!--            android:label="天气"-->
<!--            android:targetActivity=".MainActivity">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity-alias>-->
<!--        <activity-alias-->
<!--            android:name=".Calendar"-->
<!--            android:enabled="false"-->
<!--            android:exported="true"-->
<!--            android:icon="@mipmap/logo_calendar"-->
<!--            android:label="日历"-->
<!--            android:targetActivity=".MainActivity">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity-alias>-->
<!--        <activity-alias-->
<!--            android:name=".Calcuator"-->
<!--            android:enabled="false"-->
<!--            android:exported="true"-->
<!--            android:icon="@mipmap/logo_calculator"-->
<!--            android:label="计算器"-->
<!--            android:targetActivity=".MainActivity">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity-alias>-->

        <meta-data android:name="com.privacy.browser.config.AppConfigModule"
            android:value="FrameConfigModule"/>
    </application>

</manifest>